
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-with-matcher-v2
data:
  entrypoint.sh: |
    #!/bin/sh
    printenv > /tmp/env
    sleep 100000
---
apiVersion: v1
kind: Pod
metadata:
  name: app-with-matcher-v2
spec:
  initContainers:
    - name: init-vault-secret-fetcher
      image: {{ .PodImage }}
      command: ['sh', '-c', 'cp /root/vault-secret-fetcher /opt/secret-fetcher/']
      imagePullPolicy: Never
      volumeMounts:
        - name: init-vault-secret-fetcher-volume
          mountPath: /opt/secret-fetcher
  containers:
    - name: app
      image: "busybox"
      imagePullPolicy: IfNotPresent
      command: ["/opt/secret-fetcher/vault-secret-fetcher"]
      args:
        - /app/entrypoint.sh
      volumeMounts:
        - name: init-vault-secret-fetcher-volume
          mountPath: /opt/secret-fetcher
        - mountPath: /app
          name: app-with-matcher-v2
      env:
        - name: VAULT_ADDR
          value: "http://vault:8200"
        - name: VAULT_SERVICE_ACCOUNT_JWT
          valueFrom:
            secretKeyRef:
              name: default-vault-sa-secret
              key: token
        - name: VAULT_ROLE
          value: app
        - name: KUBERNETES_CLUSTER
          value: "default"
        - name: FETCHER_FORMAT_VERSION
          value: '2'
        - name: ENV
          value: staging
{{ range .Secrets }}
{{ if eq .Version 2 }}
        - name: {{ .Env }}
          value: 'VAULTSECRET::{"path":"{{ .Path }}", "key":"{{ .Key }}"}'
{{ end }}
{{ end }}
  restartPolicy: Never

  volumes:
    - name: init-vault-secret-fetcher-volume
      emptyDir: {}
    - name: app-with-matcher-v2
      configMap:
        name: app-with-matcher-v2
        defaultMode: 0744
